<app-top-nav></app-top-nav>

<!-- Full-width section with black background -->
<div style="background-color: black; width: 100%; margin-top: 50px;">
  <div class="container py-4">
    <div class="row text-center">
      <div class="col-md-4 mb-3">
        <div class="p-3 bg-light border rounded shadow-sm">
          <p class="mb-0 " style="font-size: 30px;"><b>Blueteam Services</b></p><br>
          <p style="font-size: 20px;">Penetration Testing
            <br>
            Attacker Surface Mapping
            <br>
            EndPoint Security<br>
            SEPT<br>
            Adversary Simulations<br>
            Lateral Movement Testing<br>
            Social Engineering Attacks
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="p-3 bg-light border rounded shadow-sm">
          <p class="mb-0" style="font-size: 30px;"><b>Redteam Services</b></p><br>
            <p style="font-size: 20px;">Threat Intelligence
            <br>
            Security Awarness Training
            <br>
            Dark Web & Social Montoring<br>
            Endpoint & Network Montoring<br>
            Malware Analysis & Mitigation <br>
            Security Audit & Compiliance  <br>
            Vunerability Management 
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="p-3 bg-light border rounded shadow-sm">
          <p class="mb-0" style="font-size: 30px;"><b>Products</b></p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
