<body>
<app-top-nav></app-top-nav>

<div class="container">
  <p class="heading">Let's Be In Touch</p>

  <div class="text">
    Have questions or need assistance?
    Reach out to our support <br />
    team for guidance and personalized solutions.
  </div>

  <div class="form">
     <form action="https://formsubmit.co/info.abcsservices@gmail.com" method="POST">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="message">Message:</label><br />
      <textarea id="message" name="message" rows="5" required></textarea><br /><br />

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
</body>