<footer>
    <!-- <div class="footer">
        <p>RithuSri</p>
    </div> -->
    <div class="row">
        <div class=" col-md-6" >
           <h1 class="abc"><u>&copy; AB Cybersecurity Services LLP</u></h1>
           <img src="assets/social.png">
           <img src="assets/facebook.png">
           <img src="assets/instagram.png">
        </div>
        <div class=" col-md-3" >
           <h1 class="xyz"><u>Product</u></h1>
           <p>Features</p>
           <p>Benefits</p>
           <p>Pricing</p>
           <p>Testimonials</p>
        </div>
        <div class=" col-md-3" >
           <h1 class="def"><u>Company</u></h1>
            <p>About</p>
           <p>FAQ</p>
           <p>Blog</p>
           <p><a href="http://localhost:4200/contact">Contact</a></p>
           
        </div>
    </div>
    


</footer>